<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Belanosima', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Caprasimo', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
   
  
    <p class= "notice"><%= notice%></p>
    <p ckass = "alert"><%= alert %></p>

    <div class = "profile">
      <%if user_signed_in? %>
        <%= link_to "Profile", edit_user_registration_path%>
        <%= button_to "Log out",destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path%>
        <%= link_to "Sign Up", new_user_registration_path%>

        <%end%>
    </div>

     <nav>
      <ul>
        <li><a href="home#index">Home</a></li>
        <li><a href="search#index">Search</a></li>
        <li><a href="lists#index">Lists</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>



</html>
